<div class="sudoku-container">
    <div class="sudoku-board">
      <div *ngFor="let row of board; let i = index; trackBy: trackByRow" class="row">
        <input *ngFor="let cell of row; let j = index; trackBy: trackByCell"
          class="cell" [(ngModel)]="board[i][j]" 
          min="1" max="9"
          (keydown)="preventInvalidInput($event)" />
      </div>
    </div>
    <div class="buttons">
      <mdui-button (click)="fillRandom()" class="button">Randomly Fill</mdui-button>
  
      <mdui-dropdown>
        <mdui-button slot="trigger" class="button">Solve</mdui-button>
        <mdui-menu>
          <mdui-menu-item (click)="solveSudoku()">Visualize</mdui-menu-item>
          <mdui-menu-item (click)="solveInstantly()">Solve Instantly</mdui-menu-item>
        </mdui-menu>
      </mdui-dropdown>
    </div>
  </div>
  
